*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tablaPlan{
    padding:0 1rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botones {
    margin-top: 1rem;
    padding: 0 1.5rem;
}
table th {
    text-align: center;
    width: 100vw;
    background-color: rgb(200, 200, 200);
  
  }
  td{
      text-align: center;
  }
.cards{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.info-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 1.5rem;
    width: 27vw;
    height: 25vh;
    background-color: rgb(255, 255, 255);
    border-radius: .40rem;
    padding:2.2rem;
    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
    line-height: 1.3;
    font-weight:300;
    text-align: center;
 }