*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration:none !important;
}
:root {
    --first-color: #12192C;
    --second-color: #F5A623;
    --white-color: #EDEDED;
}
.total-cuenta {
    width: 25vw;
    border-radius: .40rem;
    padding: 1em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 0.5rem;
}
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 0 1.5rem;
}
.contenedor1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
table {
    margin-top: 2rem;
}
table thead {
    background-color: rgb(200, 200, 200);
}
td {
    text-align: center;
}
  #Cuenta {
      margin: 0 1rem;
  }
  #cop {
      display: none;
  }
  .cards{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.info-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 1.5rem;
    width: 20vw;
    height: 25vh;
    background-color: rgb(255, 255, 255);
    border-radius: .40rem;
    padding:2.2rem;
    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
    line-height: 1.3;
    font-weight:300;
    text-align: center;
 }